<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Logger.Properties.Settings>
            <setting name="enabledClasses" serializeAs="String">
                <value/>
            </setting>
            <setting name="directory" serializeAs="String">
                <value/>
            </setting>
            <setting name="maxFiles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rollover" serializeAs="String">
                <value/>
            </setting>
            <setting name="level" serializeAs="String">
                <value/>
            </setting>
            <setting name="lastRollover" serializeAs="String">
                <value/>
            </setting>
            <setting name="doAnyClass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filecount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="logFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="baseFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="dateformat" serializeAs="String">
                <value>{0:s}</value>
            </setting>
            <setting name="errorformat" serializeAs="String">
                <value>DATE : {0} - Level : {1} - Message: {2}</value>
            </setting>
        </Logger.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
